nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    height:100px;
    background-color: lightblue;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color: #2F5C8F;
}
a:link { text-decoration: none; }
.context{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
}
img{
    display: block;
    width: 60%;
    margin:auto;
    justify-items: center;
}
p{
    font-size: 20px;
}
body{
    background-color:  #7d94b5;
}