nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    height:100px
}
a{
    color: red;
}
a:link { text-decoration: none; }
div{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
}
